<h6>
 {{object.mo}}, {{object.mo_unit}}: Запись #{{ object.pk }}
</h6>

<p>{{object.registrator}}; дата последнего изменения: {{ object.reg_datetime|date:"d M y H:i" }}</p>
<hr>
<p>История болезник №{{ object.mh_num }}; Возраст (лет): {{ object.age }}</p>
<p>Дата поступления в МО: {{object.to_hosp_date|date:"D d M y H:i"}}</p>
<p>Дата поступления в отделение: {{object.to_unit_date|date:"D d M y H:i"}}.<br>
<b>Количество суток в отделении: {{ object.get_duration_of_stay }}</b>
 (на дату записи - {{ object.reg_datetime|date:"d M y" }} )</p>
<p>Основной диагноз (MKБ-10): {{object.diagnosis}}</p>

{% if object.oper_date %}
<p>Операция: {{object.oper_date}}, {{object.oper_name}}</p>
{% endif %}

<p>Степень угнетения сознания (по Коновалову): {{object.get_mind_display}}</p>
<p>Статус ИВЛ: {{object.get_vent_display}}</p>
<p>Динамика состояния: {{object.get_s_dyn_display}}</p>
<p>Примечания: {{object.note}}</p>
<hr>
