{% extends "arolog/wrapper.html" %}

{% block content %}
<h4>
Информационная система АРО46
</h4>
<p>
    Для работы в системе необходимо авторизоваться с использованием полученного вами логина и пароля.
</p>
<small class="text-muted">После входа в систему вы несете ответственность за корректность введенных данных.</small>

<div class="bd-example-snippet bd-code-snippet">
    <div class="bd-example">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Внимание!</strong><br>
            C 25.10.2022 г. в программу внесены изменения: <br>
            теперь в текущий ежедневный отчет по состоянию на 08:00 попадают
            и выводятся на основной странице <br>
            записи, <strong>внесённые после 8:00 предыдущего дня.</strong><br>
            (Ранее выводились только записи, начиная с 00:00 текущего дня)<br>
            Таким образом, записи, внесенные <strong>после 08:00</strong> текущего дня, <strong>будут учитываться
            в утреннем отчете следующего дня</strong>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endblock %}